__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.local
.env.production
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.hypothesis
.vscode
.idea
*.swp
*.swo
*~
deployment-vars.sh
scripts/
tests/